{
  "extends": "eslint-config-airbnb",
  "globals": {
    "chrome": true
  },
  "env": {
    "mocha": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "react/jsx-quotes": 0,
    "block-scoped-var": 0,
    "padded-blocks": 0,
    "quotes": [1, "single"],
    "comma-style": [2, "last"],
    "no-unused-vars": 0,
    "no-console": 0,
    "func-names": 0,
    "prefer-const": 0,
    "comma-dangle": 0
  },
  "plugins": [
    "react"
  ]
}
